<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <% if user_signed_in? %>
    <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
    <% else %>
    <li>
        <%= link_to('Login', new_user_session_path) %>
    </li>
    <% end %>
    <h1>Hello World</h1>
</body>

</html>
